.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 214, 214);;
}

.flipBox {
  border: 1px solid;
  padding: 0.5%;
}