@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

 /* GENERALIZED, APP-WIDE STYLING */
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 214, 214);
  font-family: 'Open Sans Condensed', sans-serif;
}

 button {
  background-color: rgb(235, 214, 214);
  color: #282c34;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: medium;
  border-radius: 3px;
  box-shadow: 5px 5px #1b1e24;
  margin: 10%;
 }

 input {
  box-shadow: 5px 5px #1b1e24;
 }

 a {
   text-decoration: none;
   color: inherit;
 }
 /* ------------------------------------ */

/* LANDING PAGE STYLING */

.flipCard {
  margin: 40vh;
  background-color: transparent;
  width: 80%;
  height: 40px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateX(180deg);
  cursor: pointer;
}

.flipBoxFront, .flipBoxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipBoxFront {
  border: 1px solid;
}

#finally {
  font-weight: bold;
}

.flipBoxBack {
  background-color: rgb(235, 214, 214);
  color: #282c34;
  transform: rotateX(180deg);
  border: 1px solid;
}

.infoLinks {
  font-size: smaller;
}

b {
  font-weight: normal;
}
b:hover{
  cursor: pointer;
}

.infoIcon {
  max-width: 20%;
}

 /* ------------------------------------ */

 /* SIGNIN PAGE STYLING */
 #signup-icon {
  width: calc(70px + 2vmin);
  margin-bottom: 5%;
 }

 .disabled {
   opacity: .6;
 }
 /* ------------------------------------ */

 /* NAV MENU STYLING */
 .navlinks {
  text-decoration: none;
  color: inherit;
}

.navmenu {
 background-color: black;
}
/* ------------------------------------ */