@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

 /* GENERALIZED, APP-WIDE STYLING */
.App {
  background-color: #282c34;
  /* background-color: #8591ab; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 214, 214);
  font-family: 'Open Sans Condensed', sans-serif;
}

 input {
  box-shadow: 5px 5px #1b1e24;
 }

 a {
   text-decoration: none;
   color: inherit;
 }
 
 b {
  font-weight: normal;
  }
  b:hover{
    cursor: pointer;
  }

 button {
  background-color: rgb(235, 214, 214);
  color: '#282c34';
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: medium;
  border-radius: 3px;
  box-shadow: 5px 5px #1b1e24;
  margin: 5%;
  height: 15%;
  align-self: center;
}

 /* the following two selectors are a workaround as NavLinks/Links wouldn't allow Radium hover */
.infoLinks {
  font-size: smaller;
}
.infoLinks:hover {
  font-weight: bold;
}



/* mostly dead code */
/* which is slightly alive code */
/* .infoIcon {
  max-width: 20%;
} */
